@charset "UTF-8";
/* CSS Document */

h1 {font-family: verdana; font-size: 35px; text-align: center; text-transform:uppercase}

.topnav {
	background-color: #52D0C2;
	overflow: hidden;
	font-family: verdana; 
	font-size: 14px;
}

.topnav a {
	float: left;
	color: midnightblue;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.topnav a:hover {
	color:orange
}

.topnav a:active{
	background-color:orange;
	color: #FFFFFF;
}

