@charset "UTF-8";
/* CSS Document */

*{padding: 0 0;
margin: 0 0;
list-style: none;
text-decoration:none;}

p {font-family: verdana; font-size: 14px}
div {font-family: verdana; font-size: 14px}

.navbar {
	background-color: #52D0C2;
	overflow: hidden;
	font-family: verdana; 
	font-size: 14px;
}

.navbar a {
	float: left;
	color: midnightblue;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.navbar a:hover {
	color:white
}

.navbar a:active{
	background-color:orange;
	color: #FFFFFF;
}

.navbar a:selected{
	background-color:orange;
	color: #FFFFFFF
}

hr.new1 {
	border-top: 2px dotted orange;
}

.header {
	background-color: #52D0C2;
	font-family: verdana;
	font-size: 35px;
	text-align: center;
	text-transform:uppercase;
	font-weight: bold;
	margin-top: 15px;
	padding: 20px;
}

body {
	background-image:url("background copy.jpg");
}

.content {
	background-color: #FFFFFF;
	font-family: verdana;
	font-size: 14px;
	padding: 10px 10px;
}