@charset "UTF-8";
/* CSS Document */

p {font-family: verdana; font-size: 14px}
div {font-family: verdana; font-size: 14px}

.topnav {
	background-color: #52D0C2;
	overflow: hidden;
	font-family: verdana; 
	font-size: 14px;
}

.topnav a {
	float: left;
	color: midnightblue;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.topnav a:hover {
	color:white
}

.topnav a:active{
	background-color:orange;
	color: #FFFFFF;
}

.topnav a:selected{
	background-color:orange;
	color: #FFFFFFF
}

hr.new1 {
  border-top: 2px dotted orange;
}

.header {
	background-color: #52D0C2;
	font-family: verdana;
	font-size: 35px;
	text-align: center;
	text-transform:uppercase;
	font-weight: bold;
	margin-top: 15px;
	padding: 20px
}